
.about-sec {
    display: flex;
    justify-content: flex-start;
    background-color: var(--main-color);
    color: var(--white);
}

.about-sec-img {
    width: 50%;
    height: 500px;
}

.about-sec-text {
    width: 50%;
}

@media screen and (max-width: 432px) {
    .about-sec-img, .about-sec-text {
    width: 100%;
 
}


}