:root {
  --main-color: #3D7521;
  --main-color-2: #275B0D;
  --second-color: #EFA700;
  --second-color-2: #D38302;
  --white: #FAFFF7;
  --black: #081601;
}

.feature-sec {
    display: flex;
    justify-content: flex-start;
    background-color: var(--white);
    color: var(--black);
}

.feature-img {
    width: 50%;
    height: 500px;
}

.feature-text {
    width: 50%;
}

.feature-text ul {
    margin-left: 1rem;
    margin-bottom: 1.25rem;
}

@media screen and (max-width: 432px) {
    .feature-img, .feature-text {
    width: 100%;
}
}
