:root {
  --main-color: #3D7521;
  --main-color-2: #275B0D;
  --second-color: #EFA700;
  --second-color-2: #D38302;
  --white: #FAFFF7;
  --black: #081601;
}

footer {
    padding: .5rem 1rem 1.25rem;
    background-color: aqua;
    color: var(--white);
}

.footer-link-group {
  display: flex;
    justify-content: space-between;
}

footer ul {
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
}

.footer-link {
  color: var(--white);
  text-decoration: none;
  transition: .5s;
}

.footer-link:hover {
  text-decoration: underline;
  transition: .5s;
}

.sns-label {
  margin-left: .5rem;
  align-items: center; 
}

.copyright {
  text-align: center;
}

@media screen and (max-width: 1043px) {
 .footer-link-group li, .footer-link-group h3 {
   margin-bottom: .5rem;
  }
}

@media screen and (max-width: 432px) {
    .footer-link-group {
      flex-direction: column;
    }
 
    ul {
      margin-bottom: .5rem;
    }

    .copyright {
      text-align: left;
    }
}


