:root {
  --main-color: #3D7521;
  --main-color-2: #275B0D;
  --second-color: #EFA700;
  --second-color-2: #D38302;
  --white: #FAFFF7;
  --black: #081601;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem 1.25rem;
    background-color: var(--main-color);
    color: var(--white);
}

footer ul {
  list-style-type: none;
}

.footer-link {
  color: var(--white);
  text-decoration: none;
  transition: .5s;
}

.footer-link:hover {
  text-decoration: underline;
  transition: .5s;
}

@media screen and (max-width: 432px) {
    footer {
      flex-direction: column;
    }
 
    ul {
      margin-bottom: .5rem;
    }
}


}

