.hero-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-sec-text button {
   font-size: 25px;
}

@media screen and (max-width: 432px) {

    .hero-sec {
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
    }

.hero-sec-text {
justify-content: flex-end;
}    

}
