:root {
  --main-color: #3D7521;
  --main-color-2: #275B0D;
  --second-color: #EFA700;
  --second-color-2: #D38302;
  --white: #FAFFF7;
  --black: #081601;
}

.hero-sec {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../assets/pexels-nipananlifestyle-com-625927-1581484.jpg");
    background-size: cover;
}

.hero-sec-text {
    color: var(--white);
    width: 50%;
}

.hero-sec-text button {
   font-size: 25px;
}


@media screen and (max-width: 1043px) {
  .hero-sec {
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       align-items: baseline;
       height: 50vh;
    }
    .hero-sec-text {
        text-align: left;
        width: 50%;
    }
}

@media screen and (max-width: 432px) {

    .hero-sec {
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       height: 100vh;
       background-size: cover;
       background-position-x: 33%;
    }

.hero-sec-text {
justify-content: flex-end;
text-align: center;
width: 100%;
}    

.hero-sec-text button {
    width: 100%;
}

}
