:root {
  --main-color: #3D7521;
  --main-color-2: #275B0D;
  --second-color: #EFA700;
  --second-color-2: #D38302;
  --white: #FAFFF7;
  --black: #081601;
}

nav {
    padding: .5rem 1rem;
    background-color: var(--white);
height: 72px;
position: fixed;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}



nav li {
    margin-left: .5rem;
}

.side-menu-btn {
    display: none;
}

.side-menu-cont {
    display: none;
}

@media screen and (max-width: 1024px) {

    .nav-links {
        display: none;
    }



.side-menu-cont.open {
display: flex;
flex-direction: column;
z-index: 999;
width: 100%;
height: 100vh;
background-color: var(--white);
left: 0;

    
}

    .side-menu-btn {
        display: initial;
        background-color: transparent;
    }

.side-links {
    display: flex;
    flex-direction: column;
    text-align: center;
   
    
    
}

.side-links li {
padding: .5rem 1rem;    
}

}

@media screen and (max-width: 432px) {
    .side-links li {
        height: 64px;
        font-size: 36px;
        align-items: center;
        
    }
}