:root {
  --main-color: #3D7521;
  --main-color-2: #275B0D;
  --second-color: #EFA700;
  --second-color-2: #D38302;
  --white: #FAFFF7;
  --black: #081601;
}

nav {
    padding: .5rem 1rem;
    background-color: var(--white);

}

nav, nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
}



nav li {
    margin-left: .5rem;
}

.side-menu-btn {
    display: none;
}

@media screen and (max-width: 1024px) {
    nav ul {
        display: none;
        flex-direction: column;
    text-align: center;
    background-color: var(--white);
    }

    .side-menu-btn {
        display: block;
        background-color: transparent;
    }


}