.product-card {
    border: 1px solid black;
    width: 280px;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-pic {
    width: 100%;
    height: 340px;
    background-color: gray;
}