.shop-grid {
    display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-between;
 margin: 0 auto 2rem auto;
  padding: 20px;
}

.home-link-cont {
    font-size: 20px;
    margin-top: .5rem;
    margin-bottom: .75rem;
}

@media screen and (max-width: 1024px) {
body {
  max-width: 1024px;
}

.shop-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
}

@media screen and (max-width: 432px) {

body {
  max-width: 432px;
}

.shop-grid {
  grid-template-columns: repeat(1, 1fr);
}
}