@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

:root {
  --main-color: #3D7521;
  --main-color-2: #275B0D;
  --second-color: #EFA700;
  --second-color-2: #D38302;
  --white: #FAFFF7;
  --black: #081601;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gabarito", sans-serif;
}

body {
  width: 100%;
}

section {
  padding: .5rem 1rem 1.25rem;
}

p {
  margin-bottom: 1.25rem;
}

p, li, button {
  font-size: 20px;
}

button, .section-link {
  background-color: var(--second-color);
  padding: .5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: var(--black);
  transition: .5s;
  text-decoration: none;
  font-size: 20px;
}

button:hover {
  background-color: var(--second-color-2);
  transition: .5s;
}

.link {
  color: #000;
  text-decoration: none;
  transition: .5s;
}

.link:hover {
  color: var(--main-color);
  transition: .5s;
  text-decoration: underline;
}

@media screen and (max-width: 432px) {

body {
  width: 100%;
}

  section {
    display: flex;
    flex-direction: column;
  }

  section button, section p {
    width: 100%;
  }
}