:root {
  --main-color: #3D7521;
  --main-color-2: #275B0D;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: .5rem 1rem;
}

p {
  margin-bottom: 1.25rem;
}

button {
  background-color: var(--main-color);
  padding: .5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: #fff;
  transition: .5s;
}

button:hover {
  background-color: var(--main-color-2);
  transition: .5s;
}

.link {
  color: #000;
  text-decoration: none;
  transition: .5s;
}

.link:hover {
  color: var(--main-color);
  transition: .5s;
}